node_modules
/script
/game
coverage
game.zip
game.json

/src/_bootstrap.ts
/src/main.ts
/src/parameterObject.ts
/.vscode
/spec
/typings
.editorconfig
.eslintrc.js
eslint.config.mjs
jest.config.js
package-lock.json
package.json
README.md
sandbox.config.js
tsconfig.jest.json
tsconfig.json
